﻿@model QS.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

<div class="login_wrapper">
    <div class="login-div">

        <h2>Login</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                <label>User Name</label>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-12">
                <label>Password</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Login" class="btn btn-block login_button" />
                <div class="text-danger" id="ErrorDisply">
                    @ViewData["error"]
                </div>
            </div>

        </div>

    </div>

</div>
    

}


<script>
    setTimeout(function () {
        $("#ErrorDisply").css("display", "none");
    },2000)




</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
