﻿@model IEnumerable<QS.Models.Booking>

@{
    ViewBag.Title = "MyTrackingStates";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<h2>My Tracking States ggg</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingIdentifire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingPickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingPickupTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingParsalType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelevaryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelevaryCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelevaryCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelevaryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingParsalWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingIdentifire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingPickupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingPickupTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingParsalType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelevaryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelevaryCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelevaryCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelevaryAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingParsalWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingUser)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingId })*@
        </td>
    </tr>
}

</table>
