﻿@model QS.Models.BookingState

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookingState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingIdentifire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingIdentifire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingStateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
