﻿@model IEnumerable<QS.Models.BookingState>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingIdentifire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingIdentifire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingStateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingStateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingStateId })
        </td>
    </tr>
}

</table>
