﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#main-logo {
    border: 4px solid #3e6965;
    width: 80px;
    float: left;
    margin: 17px 0;
    padding: 6px;
    background: #fffc;
}

.navbar-nav li a {
    /* border: 2px solid #eee; */
    margin: 0 9px;
}

    .navbar-nav li a:hover {
        color: black !important;
        background: #eee !important;
    }

.user-name {
    position: absolute !important;
    top: 0;
    right: 0;
    color: #fff;
    margin: 5px 12px;
}

.footer {
    background: #428bca;
    padding: 20px 50px;
    margin-bottom: 0;
    /* position: absolute; */
    width: 100%;
    bottom: -46px;
}

    .footer p {
        color: #fff;
    }

.navbar-inverse {
    background-color: #168c81;
    border-bottom: 13px solid #103834;
}

.body-content {
    /* float: left; */
    margin-top: 70px;
    /* width: 100%; */
    /* text-align: center; */
}

.login-div {
    width: 450px;
    margin: 64px auto;
    background: #ffffff;
    padding: 30px 39px;
    box-shadow: 1px 1px 4px 1px;
    border-radius: 5px;
}

.btn-login {
    width: 237px;
    margin-left: 65px;
    background: #168c81;
    color: #fff;
}

    .btn-login:hover {
        background: #0f635b !important;
        color: #fff;
    }

.signUp-div {
    width: 440px;
    margin: 0 auto;
    background: #eaeaea;
    padding: 8px 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px;
    margin-bottom: 30px;
}

.form-horizontal.signUp-div .control-label {
    text-align: left !important;
}
/*CSS Added by Ravindu L*/

label.control-label {
    float: left;
}

.navbar-inverse {
    background-color: #428bca !important;
}

input.btn.btn-block.login_button {
    background: #428bca;
    color: #fff;
}

.login-div label {
    float: left;
}

.footer-links a {
    color: #fff;
    float: right;
}

.login_wrapper {
    padding-top: 5px;
}

footer.footer {
    margin-top: 125px;
}