﻿@model QS.Models.Booking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form">


    <div class="container">

        <h4>Shedule your pickup</h4>
        <hr />

        <div class="row">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BookingIdentifire, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.BookingIdentifire, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingIdentifire, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BookingPickupDate, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.BookingPickupDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingPickupDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BookingPickupTime, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.BookingPickupTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingPickupTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                <label>Parcel Type</label>
                <div class="">
                    @Html.EditorFor(model => model.BookingParsalType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingParsalType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.DelevaryName, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.DelevaryName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DelevaryName, "", new { @class = "text-danger" })
                </div>
            </div>

      

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.DelevaryCity, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.DelevaryCity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DelevaryCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.DelevaryAddress, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.DelevaryAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DelevaryAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.BookingParsalWeight, htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.EditorFor(model => model.BookingParsalWeight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingParsalWeight, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4" style="display:none">
                    @Html.EditorFor(model => model.BookingStatus, new { htmlAttributes = new { @class = "form-control", ValueType = "hidden"
           } })

                </div>
                <div class="col-md-4" style="display:none">
                    @Html.EditorFor(model => model.BookingUser, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            


            </div>


            <div class="col-md-4">&nbsp;</div>

            <div class="col-md-4">
                <div class="">
                    <input type="submit" value="Shedule Now" class="btn btn-primary" />
                </div>
            </div>

            <div Id="Sucess">
                @ViewData["Booking"]
            </div>

        </div>
    </div>
</div>



}


<script>
    setTimeout(function () {
        $("#Sucess").css("display", "none");
    },5000)




</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
