﻿@model QS.Models.Booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingIdentifire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingIdentifire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingPickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingPickupTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingPickupTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingParsalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingParsalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingParsalWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingParsalWeight)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
