﻿@model QS.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingIdentifire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingIdentifire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingPickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingPickupTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingPickupTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingParsalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingParsalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelevaryAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelevaryAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingParsalWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingParsalWeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |
   
</p>
