﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse {
            background-color: #168c81;
        }

        .navbar-nav li a {
            color: #fff !important;
        }

            .navbar-nav li a:hover {
                color: black !important;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")">
                    <img src="~/assets/images/Untithjled.png" id="main-logo" width="85" style="margin-top:5px;" />
                    
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"  style="margin-top:33px;">

                    @*@*<li>@Html.ActionLink("Detals", "Contact", "Home")</li>
        <li>@Html.ActionLink("Payments", "Contact", "Home")</li>
        <li>@Html.ActionLink("About Us", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("About Us", "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right"  style="margin-top:33px;">
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("SigunUp", "SignUp", "User")</li>
                    <li>@Html.ActionLink("Location", "Contact", "Home")</li>
                    <li>@TempData["User"]</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">

            <div class="row">

                <div class="col-md-6">
                    <p class="pull-left">Copyright ©@DateTime.Now.Year . All rights reserved.</p>
                </div>
                <div class="col-md-6">

                    <div class="footer-links">

                        @Html.ActionLink("Sitemap", "Sitemap", "Home")
                    </div>




                </div>
            </div>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
