﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<style>
    .navbar-inverse {
        background-color: #168c81;
    }
    .navbar-nav li a{
        color: #fff !important;
    }
    .navbar-nav li a:hover {
        color: black !important;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")">
                    <img src="~/assets/images/Untithjled.png" id="main-logo" width="85" />
                  
                </a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-top:33px;">
                    <li>@Html.ActionLink("Scheduled Pickup", "Create", "Bookings")</li>
                    <li>@Html.ActionLink("Tracking", "TracState", "User")</li>
                    <li>@Html.ActionLink("My Tracking", "MyTrackingStates", "User")</li>
                    <li>@Html.ActionLink("About Us", "Contact", "Home")</li>
                  
                </ul>

                <ul class="nav navbar-nav navbar-right" style="margin-top:33px;">
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("Sign up", "SignUp", "User")</li>  
                    @*<li>@Html.ActionLink("Location", "Contact", "Home")</li>*@
                   
                    <li class="user-name">@TempData["User"]</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="footer">

            <div class="row">

                <div class="col-md-6">
                    <p class="pull-left">Copyright ©@DateTime.Now.Year . All rights reserved.</p>
                </div>
                <div class="col-md-6">

                    <div class="footer-links">

                        @Html.ActionLink("Sitemap", "Sitemap", "Home")
                    </div>

                
                 

                </div>
            </div>

            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
