﻿
@{
    ViewBag.Title = "Sitemap";
}

<h2>Sitemap</h2>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Pages:</h3>
            <ul class="sitemap-items">
                <li><a href="@Url.Action("Index","Home")"><strong>Home</strong></a></li>
                <li><a href="@Url.Action("Contact","Home")"><strong>About</strong></a></li>
                <li><a href="@Url.Action("Create","Bookings")"><strong>Scheduled Pickup</strong></a></li>
                <li><a href="@Url.Action("TracState","User")"><strong>Tracking</strong></a></li>
             



            </ul>
        </div>
    </div>
</div>
